
/*Fraim css*/

.button, .hotel-options__button, .tours-in-this-hotel_button {
    background-color: #f44336;
    color: white;
}
.button:hover, .hotel-options__button:hover, .tours-in-this-hotel_button:hover {
    background-color:#f96257;
}
.button:active, .hotel-options__button:active, .tours-in-this-hotel_button:active {
    background-color:#c8392e;
}
.field-from, .module-label {
    color: white;
}

.module-form__pl, .search-result-text__progress-line {
    border: none;
    background-color: #3d312b00;
}

.tag-search {
    background-color: #fbf5f7;
    border: 1px solid #a9435c;
    color: #a9435c;
}

.field-from__city, .human-list__item:before, .field-from__select:after {
    color: #f44336;
}

.module-label_second {
    color: #fff;
}

.values__item_selected.values__item_end:after, .values__item_selected.values__item_start:after {
    color: #fdd782;
    background: #fdf2cd
}

.values_nights .values__item:hover, .values_nights .values__item_selected, .values_calendars .values__item_selected {
    background-color: #fdf2cd;
}

.values__item_selected.values__item_end, .values__item_selected.values__item_end:hover, .values__item_selected.values__item_start, .values__item_selected.values__item_start, .values__item_selected.values__item_end, .values__item_selected.values__item_end:hover, .values__item_selected.values__item_start, .values__item_selected.values__item_start:hover, .values__item_selected.values__item_end, .values_nights .values__item:hover, .styled-radio_checked:after, .module-form {
    background-color: #fdd78200;
    border: 1px solid white;
}

.values__item_has-fly:before, .btn_main, .btn:hover {
    background-color: #f44336;
}

.values_rating .values__item_selected:before, .values_year .values__item_selected:before, .styled-checkbox:before, .tours-list__item a:hover .tours-list-description:before {
    color: #fdd782;
}

.human-list__year, .values__value_selected, .values__value, .calendars__month, .calendars__prev:before, .calendars__next:before, .values_calendars .values__item_day-off, .additional-filter-group__header, .btn_middle-link, .hotel-options__link, .search-result__header, .pagination__page, .pagination__page, .group-by__link, .clip, .result-page .clip {
    color: #bc435c;
}

.search-result-text__progress-text {
    color: white;
}

.btn_middle-link:hover {
    background-color: transparent;
}